**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitattributes
**/.gitignore
**/.github
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.log
**/bin
**/obj
**/TestResults
**/coverage
**/publish
**/logs
**/*.md
!README.md
**/*.yml
**/*.yaml
!docker-compose.yml
**/node_modules
**/.DS_Store
**/Thumbs.db
**/.editorconfig
**/.gitattributes
**/docker-compose*.yml
**/Dockerfile*
**/*.trx
**/*.coverage
**/secrets.json
**/appsettings.Production.json
**/appsettings.Staging.json
